.vs/
ventaParhikuniWin/bin/
ventaParhikuniWin/bin/Debug/

ventaParhikuniWin/obj/
ventaParhikuniWin/obj/Debug/
*.cache
*.old
*.log
\[BD\]/respaldos/pruebas/prueba_2023-05-30__17-47.sql
\[BD\]/respaldos/pruebas/pruebas_completa.sql
DOCS/paqueteria