:root {
    --parh-bg-color: #e33211;
    --parh-acc-color1: #ed522d;
    --parh-bg-navbar: #ccdede;
    --parh-bg-cont:#d8e4e4;
    --parh-acc-navbar: #ff6239;
    --parh-btn-primary: #ff7f21;
}
.btn{
	box-shadow: 3px 3px 2px #000000a6;
	border-radius: 0.5rem;
}
.btn-parhi-primary{
	background-color: var(--parh-btn-primary) !important;
	--bs-btn-color: #fff;
	--bs-btn-bg: var(--parh-btn-primary);
	--bs-btn-border-color: var(--parh-btn-primary);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #0b5ed7;
	--bs-btn-hover-border-color: #0a58ca;
	--bs-btn-focus-shadow-rgb: #e36000f2;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #0a58ca;
	--bs-btn-active-border-color: #ff6c00;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: var(--parh-btn-primary);
	--bs-btn-disabled-border-color: var(--parh-btn-primary);
}
.table-parhi{
	--bs-table-bg:white;
	--bs-table-striped-color: var(--bs-body-color);
}
.table-parhi th{
	color: white;
	--bs-table-bg:var(--parh-bg-color);
}
.btn-link{
	box-shadow: none;
}
.page-item.active .page-link{
	z-index: 0;
}
.unstyled-list{
	list-style: none;
}
.nobreak{
	white-space: nowrap;
}
.hidden{
	display: none;
}
.form-control option:disabled{
	background-color: lightgrey;
}
.nospinner::-webkit-outer-spin-button,
.nospinner::-webkit-inner-spin-button{
	-webkit-appearance: none;
	-moz-appearance: textfield;
}


*{
	/* font-family: 'Open Sans', sans-serif !important; */
	outline: 1px solid tomato;
}
html{
	/* background-color: #dbe6e7; */
	background: linear-gradient(45deg, #e1e5e2, #d7e4e4);
}
body{
	min-height: 100vh !important;
	background: linear-gradient(45deg, #e1e5e2, #d7e4e4);
}
table{
	width: 100%;
	text-align: center;
	margin-bottom: 4px;
}
#printed{
	display: none;
}
#content{
	/* background-color: var(--parh-bg-cont); */
}
#sidebar{
	height: 100vh;
	position: sticky;
	top: 0px;
	overflow-y: scroll;
}
#sidebar::-webkit-scrollbar {
	width: 10px;
}

/* Track */
#sidebar::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
#sidebar::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
#sidebar::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/* 5 */
/* ************************** */
.titleWithAnchor{
	/* Es mucho espacio :c */
	/* padding-top: 70px; */ 
}
/* .titleWithAnchor a{
	margin-top: 100px;
} */

.login .logo-bnco{
	display: none;
}
.btn-collap label span{
	
}
.btn-collap input{
	display: none;
}

ul.list-desp{
	display: inline-flex;
	padding: 2px 6px;
	cursor: pointer;
	position: relative;
}
ul.list-desp .title{
	/* background-color: red; */
}
ul.list-desp .title::after{
	content: "";
	margin: 0px 4px;
	border: 1px solid #00000052;
	width: 0px;
}
ul.list-desp:hover{
	/* background-color: orange; */
	display: inline-flex;
}
ul.list-desp:hover > .list-cont{
	/* transition: 10s; */
	display: block;
	position: absolute;
	left: calc(100% - 2px);
	width: auto;
	height: auto;
	text-align: left;
}
ul.list-desp:hover > .list-cont li{
	/* background-color: greenyellow; */
	/* display: inline-flex; */
	display: block;
}
ul.list-desp .list-cont{
	display: none;
	width: 100px;
	height: 100px;
	position: relative;
	top: -1px;
	left: 0px;
	z-index: 1;
}
ul.list-desp .list-cont li{
	display: none;
	width: auto;
	display: inline-flex;
	/* background: yellow; */
	white-space: nowrap;
	padding: 1px 6px;
	margin: 0px 0px;
}
ul.list-desp .list-cont li label{
	text-align: left;
}
ul.list-desp .list-cont li:hover{
	/* background-color: green; */
}
/* .flow-content{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
*/
.flow-content span{
	/* text-align: center; */
	display: inline-block;
	margin: 2px 10px;
	white-space: nowrap;
}

tr.selected{
	
}
tr.selected td{
	background-color: var(--parh-btn-primary);
	color:white;
}

.fecha{
	white-space: nowrap;
}
.tbl-datosPasajeros{
	border-collapse: separate;
	border-spacing: 0 1em;	
}
.tbl-diagrama-bus{
	transform: rotate(180deg);
}
.asiento_nmr{
	transform: rotate(180deg);
}
.asiento{
	content: url("../images/asientos/asientolibre.png");
	width: 44px;
	transform: rotate(180deg);
}
.asiento.tv{
	content: url("../images/asientos/asientolibreTV.png");
}

.asiento.apartado{
	content: url("../images/asientos/asientoSeleccionado.png");
}
.asiento.tv.apartado{
	content: url("../images/asientos/asientoSeleccionadoTV.png");
}

.asiento.ocupado{
	content: url("../images/asientos/asientoOcupado.png");
}
.asiento.tv.ocupado{
	content: url("../images/asientos/asientoOcupadoTV.png");
}

.textoTachado{
	font-size: 0.8rem;
	text-decoration-line: line-through;
	color: tomato;
}
/*
.asiento .ocupado{
	content: url("../images/asientos/asientoOcupado.png");
}

.asiento-tv .ocupado{
	content: url("../images/asientos/asientoOcupadoTV.png");
}
.apartado{
	content: url("../images/asientos/asientoSeleccionado.png");
}
.tv.apartado{
	content: url("../images/asientos/asientoSeleccionadoTV.png");
}
*/
/* ************************** */
.centerVert {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card {
	box-shadow: 3px 3px 10px #000000a6;
	border-radius: 1.1rem;
	padding: 0.4rem;
}

.login > .form-control {
	border: none;
	background-color: var(--parh-bg-cont);
	border-radius: 0.5rem;
}
footer{
	bottom: 0px;
	height: 30px;
}
footer.sticky{
	position: sticky;
}
footer.fix{
	position: fixed;
	width: 100%;
	display: block;
}
footer img{
	height: 30px;
	position: absolute;
	right: 0px;
	margin: 0 10px 4px 0;
}
footer div{
	position: relative;
}


@media (max-width: 768px) {
	.btn-collap label span {
		display: none;
	}
	.login .btn-link{
		color: white;
	}
	.form-control {
		background-color: white ;
	}
	.bg-res-red{
		background: linear-gradient(0deg, #e34d0f, #da1b12);
	}
	.login .card{
		background: no-repeat !important;
		box-shadow: none !important;
		border: beige !important;
	}
	.login .logo-color {
		display: none;
	}
	.login .logo-bnco{
		display: block;
	}
	footer img{
		filter:
			drop-shadow(-1px -1px 0px white)
			drop-shadow(1px -1px 0px white)
			drop-shadow(-1px 1px 0px white)
			drop-shadow(1px 1px 0px white);
	}
}
@media (min-width: 576px) {
	/**/
}

@media print {
	.wrapper:before{
		display: block;
		width: 50px;
		content:url('../images/logo_parhikuni.png');
		float: right;
	}
	body{
		background-color: white;
	}
	#printed {
		display: block;
	}
	.noprint, nav, footer img{
		display: none !important;
	}
	main {
		padding: 0px !important;
		margin: 0px !important;
		max-width: 100vw;
	}
	table{
		width:100%;
		color:black;
	}
	table thead tr th{
		color:black !important;
	}
	button{
		background-color: transparent;
		border:none
	}
	#content {
		display: block !important;
		min-height:initial;
	}
}