:root {
    --parh-bg-color: #e33211;
    --parh-acc-color1: #ed522d;
    --parh-bg-navbar: #ccdede;
    --parh-bg-cont:#d8e4e4;
    --parh-acc-navbar: #ff6239;
    --parh-btn-primary: #ff7f21;
}
* {
    /* font-family: 'Open Sans', sans-serif !important; */
}
html{
    background-color: #dbe6e7;
}
#content{
    background-color: var(--parh-bg-cont);
}

.btn-parhi-primary{
    background-color: var(--parh-btn-primary);
}